<h1>New Question for <%= Test.find(params[:test_id]).title %></h1>

<form action="<%= test_questions_path(params[:test_id]) %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token%>" type="hidden">

  <p>
    <label for="question-body">Your question:</label>
    <input type="text" name="question[body]" id="question-body" required>
  </p><br> 


  <input type="submit" value="Create">
</form>

<br><%=link_to 'Back', test_questions_path(params[:test_id]) %>
