<h1>Question:</h1>
  
<h3><%= @question.body %></h3>

<ol>
  <% @question.answers.each do |a| %>
    <li>
      <%= a.body%>
    </li>
  <% end %>
</ol>

<br><%=link_to 'Back', test_questions_path(@question.test_id)  %>
