<footer class="bg-light py-4 mt-4">
  <div class="text-center darken-grey-text">
    <p>
      © <%= current_year %>
      The <%= github_url("PavelPo99", 'TestGuru') %>
      by Pavel
    </p>
    <p>
      <%= link_to t('helpers.link.about'), '/about' %>
    </p>
  </div>
</footer>
