<div class="col my-4">
  <div class="card h-100">
    <li>
        <div class="card-body">
          <h5 class="card-title"><%= answer.body %></h5>

          <div class="d-grid gap-2 d-md-flex">
          <%= button_to t('helpers.button.show'),admin_answer_path(answer), method: :get, params: { lang: params[:lang] }, class: 'btn btn-primary' %>
          <%= button_to t('helpers.button.edit'), edit_admin_answer_path(answer), method: :get, params: { lang: params[:lang] }, class: 'btn btn-primary'  %>
          <%= button_to t('helpers.button.delete'),  admin_answer_path(answer), method: :delete, data: {  turbo_confirm: t('helpers.data.are_you_sure') }, class: 'btn btn-primary' %>
          </div>
      </div>
    </li>
  </div>
</div>
