<p><%= t('.greeting', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.notify_change', new_email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.notify_changed', new_email: @resource.email) %></p>
<% end %>
