<h1>Tests:</h1>

<table>
  <% if @tests.count != 0 %>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Categories</th>
      <th>Author</th>
      <th>The number of questions</th>

      <th>Action</th>
    </tr>
   <% end %>
  
  <%= render(@tests) || "There are no Questions at the moment." %>

</table>
