<footer class="footer">
  <small>
    © <%= current_year %>
    The <%= link_to "Test Guru",   github_url("Test Guru") %>
    by <%= link_to "Pavel",   github_url("Pavel")  %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  '/about' %></li>
    </ul>
  </nav>
</footer>
