<footer class="footer">
  <small>
    © <%= current_year %>
    The <%= github_url("PavelPo99", 'TestGuru') %>
    by Pavel
  </small>
  <nav>
    <br><ul>
      <li><%= link_to "About",  '/about' %></li>
    </ul>
  </nav>
</footer>
